.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
  margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      margin: 64px 16px 0 16px;
      gap: 12px;
    }
}
