.place__image {
  max-width: 460px;
  max-height: 460px;
}

@media screen and (max-width: 1024px) {
    .place__image {
      max-width: 440px;
      max-height: 440px;
    }
}

@media screen and (max-width: 896px) {
    .place__image {
      max-width: 390px;
      max-height: 390px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
      max-width: 340px;
      max-height: 340px;
    }
}

@media screen and (max-width: 637px) {
    .place__image {
      max-width: 320px;
      max-height: 320px;
      margin-bottom: 32px;
    }
}
