.cover__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
      font-size: calc(0.875rem + (100vw - 320px) / (768 - 320) * (18 - 14));
      line-height: calc(18 / 16);
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
}
