.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 0.5s;
}

@media screen and (max-width: 475px) {
    .footer__link {
      font-size: 24px;
      line-height: 24px;
    }
}

.footer__link:hover {
  opacity: 0.8;
}
