.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 677px) {
    .lead__title {
      font-size: 90px;
      line-height: 94px;
    }
}

@media screen and (max-width: 634px) {
    .lead__title {
      font-size: 80px;
      line-height: 84px;
    }
}

@media screen and (max-width: 564px) {
    .lead__title {
      font-size: 70px;
      line-height: 74px;
    }
}

@media screen and (max-width: 493px) {
    .lead__title {
      font-size: 60px;
      line-height: 64px;
    }
}

@media screen and (max-width: 423px) {
    .lead__title {
      font-size: 50px;
      line-height: 54px;
    }
}

@media screen and (max-width: 353px) {
    .lead__title {
      font-size: 45px;
      line-height: 49px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
    }
}
