.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 159%;
  margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 163%;
    }
}
