.footer {
  margin: 92px auto 24px auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      margin-top: 88px;
    }
}

@media screen and (max-width: 475px) {
    .footer {
      display: grid;
      max-width: 160px;
      max-height: 310px;
      margin: 64px 118px 24px 16px;
      flex-direction: column;
    }
}
