.header__lang-links {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(2, min-content);
  align-items: flex-end;
  list-style: none;
  padding: 0;
  color: #FFFFFF;
  gap: 18px;
  margin-bottom: 6px;
 }
